{% extends 'base.html' %}

{% block title %}
    Nạp tài khoản
{% endblock %}

{% block content %}
    

    <div class="container">
        <form method="POST" class="form-signin" style="color:#333333">
            {{ form.hidden_tag() }}
            <h1 class="h3 mb-3 font-weight-normal text-center mt-3">
                Nạp tài khoản
            </h1>
            <br>
            {{ form.amount.label() }}
            {{ form.amount(class="form-control mb-3", placeholder="............") }}

            <br>

            <br>
            {{ form.submit(class="btn btn-lg btn-block") }}

            <br>
            <br>
            <br>
            {% if user.status == False %}
                
            <h4 class=" mb-3 font-weight-normal text-center mt-3">
                <br>
                Hiện đang có 1 giao dịch nạp tiền khác đang được thực hiện! <br>
                <a href="{{ url_for('profile.confirm_add_budget') }}">Xác nhận giao dịch</a>
                
            </h4>
            {% endif %}

        </form>
    </div>


    
{% endblock %}