{% extends 'base.html' %}

{% block title %}
    Thay ảnh đại diện
{% endblock %}

{% block content %}



    <div class="container mb-3 text-center" , style="color: #333333;">
        <br>
        <h1 class="h3 text-center mt-5">
            Cập nhật ảnh đại diện
        </h1>
        <br>
        
        <img src="/static/avatar/{{ current_user.avatar }}" alt="user avatar" width="200px" height="200px" style="object-fit: cover;">

        <br>
        <br>
        <br>

        <form method='POST' enctype='multipart/form-data'>
            {{ form.hidden_tag() }}
            {{ form.file(style="margin-left: 90px") }} <br>
            <br>
            {{ form.submit(class="btn btn-m", style="width:23%") }}
        </form>
    </div>


    
{% endblock %}