{% extends 'base.html' %}

{% block title %}
    Profile {{ user.user_name}}
{% endblock %}

{% block content %}
    
<!--AVATAR O DAY NE -->
<div class="profile-container">
    <div class="profile-col-1">
        <img id="user-ava" src="{{ user_avatar }}" />
        <div id="user-ava-bellow">
            {% if current_user.is_authenticated %}
                {% if current_user.user_name == user.user_name %}
                    <a class="btn btn-sm edit-profile-btn" href="{{ url_for('profile.edit_profile') }}" style="display: inline-block;" >Edit Profile</a>
                    <br>
                {% endif %}
            {% endif %}

        </div>
    </div>

    <div class="profile-col-2">
        <div>
            <div class="profile-name">
                {{ user.user_fullname }}
            </div>
            <div class="profile-username">
                @{{ user.user_name }}
            </div>
        </div>

        <p class="profile-bio">
            {% if user.bio %}
                -- {{ user.bio }} --
            {% else %}
                -- No bio yet --
            {% endif %}
        </p>

        <!-- Member since <em>{{ moment(user.member_since).format('LL') }}</em>.&nbsp; -->
        <div style="color: rgb(143, 143, 143);">
            Member since: {{user.member_since}}
            <br>
            Last seen: {{user.last_seen}}
    
            <!-- Last seen <em style="color: black;">{{ moment(user.last_seen).fromNow() }}</em>. -->
        </div>
    </div>

    <div class="profile-col-3">
        <div style="font-size: 18px;">Contact me via: </div>
        
        <div class="user-phone-no">
            <b>Phone number: </b>
            {{ user.user_phone }}
        </div>

        <div>
            or
        </div>

        <div class="user-email">
            <b>Email: </b>
            {{ user.user_email }} 
        </div>
    </div>

    
</div>



    
{% endblock %}