{% extends 'base.html' %}

{% block title %}
    @{{ user.user_name}}
{% endblock %}

{% block content %}
    
<!--AVATAR O DAY NE -->
<div class="profile-container">
    <div class="profile-col-1">
        <img src="/static/avatar/{{ user.avatar }}" alt="user avatar" width="200px" height="200px" style="object-fit: cover;">
        <br>
        <br>
        <!-- THAY AVATAR -->
        {% if current_user.is_authenticated %}
            {% if current_user.id == user.id %}
                <a class="btn btn-sm edit-profile-btn" href="{{ url_for('profile.change_avatar') }}" style="display: block;" >Thay đổi ảnh đại diện</a>
            {% endif %}
        {% endif %}
        <!-- THAY TT CÁ NHÂN -->
        <div id="user-ava-bellow">
            {% if current_user.is_authenticated %}
                {% if current_user.id == user.id %}
                    <a class="btn btn-sm edit-profile-btn" href="{{ url_for('profile.edit_profile') }}" style="display: inline-block;" >Chỉnh sửa trang cá nhân</a>
                    <br>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="profile-col-2">
        <div>
            <div class="profile-name">
                {{ user.user_fullname }}
                {% if user.user_score >= 10000000 %}
                    <img src="/static/check.png" alt="account-check" width="30px">
                {% endif %}

            </div>
            <div class="profile-username">
                @{{ user.user_name }}
            </div>
        </div>

        <p class="profile-bio">
            {% if user.bio %}
                -- {{ user.bio }} --
            {% else %}
                -- <i>Chưa có tiểu sử</i> --
            {% endif %}
        </p>

        <!-- Member since <em>{{ moment(user.member_since).format('LL') }}</em>.&nbsp; -->
        <div style="color: rgb(143, 143, 143);">
            {{ moment.include_moment() }}
            Là thành viên từ: {{moment(user.member_since).format('L')}}
            <br>
            Lần cuối hoạt động: {{ fromNow(user.last_seen) }}
    
        </div>
    </div>

    <div class="profile-col-3">
        <div style="font-size: 18px;">Liên hệ với tôi qua: </div>
        
        <div class="user-phone-no">
            <b>Số điện thoại: </b>
            {{ user.user_phone }}
        </div>

        <div>
            hoặc
        </div>

        <div class="user-email">
            <b>Email: </b>
            {{ user.user_email }} 
        </div>
    </div>
</div>

<div>
    <div style="display: flex; align-items:center; justify-content: space-between; width: 1200px; margin: auto; margin-top: 50px;">
        <h4 style="color: #333333; text-align: center;">Sản phẩm đang đăng bán - {{ number_of_products }} sản phẩm</h4>
        <form action="{{ url_for('profile.profile_page', id=user.id) }}" method="POST" style="text-align:center;">
            <select style="padding: 5px;" name="sort" id="lang">
                <option value="date">Sắp xếp theo</option>
                <option value="date">Thời gian đăng</option>
                <option value="price_az">Giá từ thấp đến cao</option>
                <option value="price_za">Giá từ cao đến thấp</option>
                <option value="name_az">Tên A-Z</option>
                <option value="name_za">Tên Z-A</option>
            </select>
            <input class="btn" style="transform: translateY(-4px);" type="submit" value="Sắp xếp" />
        </form>
    </div>
    <br>
    
    {% if number_of_products == 0 %}
        <div style="opacity: 0.3; height: 300px; display: flex; margin: auto; flex-direction: column;">
            <div style="background-color: white; display: block; text-align: center; margin-top: 75px ">
    
                <img src="/static/chohoitot_logo.svg" alt="My Happy SVG" width="200" style="display: inline-block; background-color: #ffba00;" >
            </div>
    
            <h4 style="color: #7b6f6f; text-align: center">Hiện không có sản phẩm nào</h4>

        </div>
        
    {% endif %}
    
    {% for product in products %}
        <div style="display: flex; padding: 20px;" class="profile-item-card">
            <div style="width: 40%;">
                <img src="/static/product/{{ product.image }}" alt="product-img" style="width: 100%; border-radius: 8px;">
            </div>

            <div style="margin-left: 40px; text-align: left; flex:1;">
                <div class="profile-item-name">
                    {{ product.name }} 
                </div>

                <div class="profile-item-price">
                    Giá: {{ prettier_budget( product.price ) }} đồng
                </div>

                <div class="profile-item-desc">
                    Mô tả: {{  product.description }}
                </div>

                <div class="profile-item-cate">
                    Danh mục: {{ product.category }}
                </div>
                
                <div class="profile-item-date">
                    Ngày đăng bài: {{ product.date }}
                </div>
            </div>

            <div class="profile-btn-wrapper">
                {% if current_user.is_authenticated %}
                    {% if current_user.id == product.owner_id %}
                        {% include 'includes/delete_items_modals.html'   %}
                        <button class="btn btn-close profile-close-btn" data-toggle="modal" data-target="#Modal-Delete-{{ product.id }}" style="padding: 8px 10px;">Xóa tin</button>

                        {% include 'includes/update_items_modals.html'   %}
                        <button class="btn profile-edit-btn" data-toggle="modal" data-target="#Modal-Update-{{ product.id }}">Chỉnh sửa</button>
                    {% else %}
                        <button class="btn profile-edit-btn" data-toggle="modal" data-target="#Modal-Purchase-{{ product.id }}">Mua ngay</button>
                        {% include 'includes/purchase_items_modals.html'   %}
                    {% endif %}
                {% else %}
                    <button class="btn profile-edit-btn" data-toggle="modal" data-target="#Modal-Purchase-{{ product.id }}">Mua ngay</button>
                    {% include 'includes/purchase_items_modals.html'   %}
                    
                {% endif %}
            </div>

        </div>

        <br>
        <!-- <div style="width: 40%; height: 1px; background-color:#ccc; margin: auto; margin-top: 40px; margin-bottom: 40px;"></div> -->
    {% endfor %}
</div>
    
{% endblock %}