{% extends 'base.html' %}

{% block title %}
    Quên mật khẩu?
{% endblock %}

{% block content %}
    

    <div class="container">
        <form method="POST" class="form-signin" style="color:#333333">
            {{ form.hidden_tag() }}
            <h1 class="h3 mb-3 font-weight-normal text-center mt-3">
                Đặt lại mật khẩu
            </h1>
            <br>
            {{ form.email.label() }}
            {{ form.email(class="form-control mb-3", placeholder="............") }}

            <br>

            <div class="checkbox mb-3 text-center" style="color: gray;">
                Hãy nhập email tài khoản của bạn!
            </div>

            <br>
            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

        </form>
    </div>


    
{% endblock %}