{% extends 'base.html' %}

{% block title %}
    Đăng kí
{% endblock %}

{% block content %}
    <div class="container ">
        
        {# hàm register_page() trong views.py truyền vô tham số form thì h đem 'form' ra để access  #}
        <form method="POST" class="form-register " style="color:#333333">
           {{ form.hidden_tag() }}
            <h1 class="h3 text-center mt-5">
                Đăng kí
            </h1>

           {{ form.username.label() }}      {# call cái field username ra #}
           {{ form.username(class="form-control mb-3", placeholder='Enter Your Username') }}          
            {# trang trí form bằng bootstrap #}

            {{ form.fullname.label() }}      {# call cái field username ra #}
            {{ form.fullname(class="form-control mb-3", placeholder='Enter Your Full Name') }} 

            {{ form.email.label() }}      
            {{ form.email(class="form-control mb-3", placeholder='Enter Your Email Address') }}

            {{ form.phone.label() }}      {# call cái field username ra #}
            {{ form.phone(class="form-control mb-3", placeholder='Enter Your Phone Number') }} 

            {{ form.password1.label() }}      
            {{ form.password1(class="form-control mb-3", placeholder='Enter Your Password') }}   
            
            {{ form.password2.label() }}      
            {{ form.password2(class="form-control mb-3", placeholder='Confirm Your Password') }}
            
            <br>
            <div class="checkbox mb-3 text-center">
                <h6 style="display: inline-block;">Bạn đã có tài khoản?</h6>
                 <a class="btn btn-sm" href="{{ url_for('auth.login_page') }}" style="display: inline-block;" >Đăng nhập</a>
            </div>
 
            {{ form.submit(class="btn btn-lg btn-block mb-3") }}
            
        </form>
        
    </div>

    
{% endblock %}