{% extends 'base.html' %}

{% block title %}
    Xác thực tài khoản
{% endblock %}

{% block content %}
    
    <div class="container mb-3 text-center" , style="color: #333333;">
        <h1>
            Chào mừng bạn đến choHoiTot
        </h1>
        <h3>Tài khoản của bạn chưa được xác thực!</h3>
        <p>
            Trước khi truy cập trang web, bạn cần phải xác thực tài khoản của mình thông qua email.
            Hãy check mail của bạn, và click vào confirmation link mà chúng tôi đã gửi cho bạn!.
        </p>
        <p>
            Cần 1 confirmation email khác?
            <a href="{{ url_for('auth.resend_confirmation') }}">BẤM VÀO ĐÂY</a>
        </p>
    </div>


    
{% endblock %}