{% extends 'base.html' %}

{% block title %}
    Sản phẩm yêu thích
{% endblock %}

{% block content %}
    

<div>
    <h4 style="color: #333333; text-align: center; margin-top: 40px; margin-bottom: 30px;">Sản phẩm yêu thích - {{ number_of_products }} sản phẩm</h4>
    
    {% if number_of_products == 0 %}
        <div style="opacity: 0.4; display: flex; flex-direction: column; margin: auto">
            <div style="background-color: white; display: block; text-align: center; margin-top: 100px ">
    
                <img src="/static/chohoitot_logo.svg" alt="My Happy SVG" width="200" style="display: inline-block; background-color: #ffba00;" >
            </div>
    
            <h4 style="color: #7b6f6f; text-align: center">Hiện chưa có sản phẩm nào</h4>

        </div>
        
    {% endif %}
    
    {% for product in products %}
        <div style="display: flex; padding: 20px;" class="profile-item-card">
            <div style="width: 40%;">
                <img src="/static/product/{{ product.image }}" alt="product-img" style="width: 100%; border-radius: 8px;">
            </div>

            <div style="margin-left: 40px; text-align: left; flex:1;">
                <div class="profile-item-name">
                    {{ product.name }} 
                </div>

                <div class="profile-item-price">
                    Giá: {{ prettier_budget( product.price ) }} đồng
                </div>

                <div class="profile-item-desc">
                    Mô tả: {{  product.description }}
                </div>

                <div class="profile-item-cate">
                    Danh mục: {{ product.category }}
                </div>
                {% if product %}
                    <div class="profile-item-date">
                        Tin được đăng vào: {{ fromNow2(product.date) }}
                    </div>
                {% endif %}
            </div>

            <div class="profile-btn-wrapper">
                <a class="btn btn-close profile-close-btn" href="{{ url_for('main.detail_page', product_id=product.id) }}">Chi tiết</a>
            
            </div>

        </div>

        <br>
    {% endfor %}
</div>
    
{% endblock %}