{% extends 'base.html' %}

{% block title %}
    {{  product.name }} 
{% endblock %}

{% block content %}

    <div class="detail-container">
        <div class="detail-header">
            <div class="detail-header-col-1">

                <img src="/static/product/{{ product.image }}" alt="product image"  style="width: 100%; ">

                <div style="display: flex; justify-content: space-between; align-items: center; margin-top: 12px;">
                    <h3 class="detail-prod-name">
                        {{  product.name }}
                    </h3>
    
                    <span class="detail-prod-price">{{ prettier_budget(product.price) }} đồng</span>
                </div>
                
                <div>Tin được đăng vào: {{ product.date }}</div>
            
                <div>
                    Mô tả: {{  product.description }}
                </div>

                <div style="display: flex; align-items: center; justify-content: space-between;">

                    {% if current_user.is_authenticated %}
                        {% if favourite %}
                            <a class="btn-loved btn" style="margin-top: 10px" href="{{ url_for('main.like', product_id=product.id) }}">Đã thích</a>
                        {% else %}
                            <a class="btn-love btn" style="margin-top: 10px" href="{{ url_for('main.like', product_id=product.id) }}">Yêu thích</a>
                        {% endif %}
                    {% else %}
                        <a class="btn-love btn" style="margin-top: 10px" href="{{ url_for('main.like', product_id=product.id) }}">Yêu thích</a>
                    {% endif %}

                   {% include 'includes/purchase_items_modals.html'   %}
                   <button class="btn" data-toggle="modal" data-target="#Modal-Purchase-{{ product.id }}" style="padding: 8px 24px;">Mua ngay</button>
                </div>



            </div>

            <div class="detail-header-divider"></div>

            <div class="detail-header-col-2">                
                <div>
                    <div class="detail-header-email">
                        <div style="font-size: 20px; margin-bottom: 4px">Sản phẩm của: </div>
                        {{  owner.user_fullname }}
                        {% if owner.user_score >= 10000000 %}
                            <img src="/static/check.png" alt="account-check" width="20px">
                        {% endif %}
                    </div>
                    <div class="profile-username">
                        @{{ owner.user_name }}
                    </div>

                </div>

                <div>
                   <a class="btn" style="margin-bottom: 16px;" href="{{ url_for('profile.profile_page', id=owner.id) }}">Xem trang người bán</a>
                   
                </div>

                <div>
                    Last seen: {{ owner.last_seen }}
                </div>
            </div>  
        </div>
        <div class="detail-body">
            <div class="detail-body-title">
                <span>
                    Xem thêm sản phẩm cùng danh mục '{{ product.category }}': 
                </span>

                <a href="{{ url_for('main.chotot_page', category=product.category ) }}" style="color: #fdc407; text-decoration: underline;">
                    Xem thêm >
                </a>
            </div>

            <div class="detail-card-wrapper">
                {% for other in others %}
                    <div class="detail-card">
                        
                        <h5 class="detail-card-title">{{ other.name }}</h5>
                        <img src="/static/product/{{ other.image }}" alt="product image" style="object-fit: cover; width: 200px; height: 200px;">
                        <p class="detail-card-price">
                            {{ prettier_budget(other.price) }} đồng
                        </p>
                        <a class="btn" href="{{ url_for('main.detail_page', product_id=other.id) }}" target="_blank">Chi tiết</a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <br>
        <br>
    </div>
    
    
{% endblock %}