body {
    color: white;
    margin-bottom: 100px;
}

.navbar {
    background-color: #ffba00;
}

#navbar-item {
    color: #ffffff;
    font-weight: 500;
}

#right-nav {
    position: relative;
}

#nav-drop {
    position: absolute;
    top: 105%;
    left: -10px;
    border: 1px solid #ccc;
}

#nav-drop-item {
    padding: 4px 16px;
}

.btn {
    background-color: #ffba00;
    font-weight: 500;
    color: #ffffff;
}

#table {
    background-color: #ffba00;
}

#table-row {
    background-color: #fee591;
}

#home-page {
    color: #333333;
    background-color: #fef2ca;
}

#copyright {
    display: block;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f4f4f4;
    color: #333333;
    width: 100%;
    padding: 4px 0;
}

/* Profile page */
.profile-container {
    color: #333333;
    display: flex;
    margin: 40px 150px;
    /* align-items: center; */
}

.profile-col-1 {
    margin-right: 30px;
}

.profile-col-2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.profile-col-3 {
    margin-top: 90px;
    text-align: center;
    align-items: center;
}

#user-ava {
    width: 200px;
}

#user-ava-bellow {
    margin-top: 8px;
    text-align: center;
}

.profile-name {
    font-size: 26px;
    font-weight: 500;
}

.profile-username {
    font-style: italic;
    margin-top: -10px;
    margin-bottom: 12px;
    font-size: 14px;
    color: #949494;
}

.profile-bio {
    color: #545454;
    flex: 1;
}