body {
    color: white;
    min-height: 100vh;
    position: relative;
    padding-top: 56px;
    padding-bottom: 50px;
}

.navbar {
    background-color: #ffba00;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

#navbar-item {
    color: #ffffff;
    font-weight: 500;
}

#right-nav {
    position: relative;
}

#nav-drop {
    position: absolute;
    top: 105%;
    left: -20px;
    border: 1px solid #ccc;
}

#nav-drop-item {
    padding: 4px 16px;
}

.btn {
    background-color: #ffba00;
    font-weight: 500;
    color: #ffffff;
}

.btn-love {
    background-color: #ef6666;
}

.btn-loved {
    padding-left: 16px;
    padding-right: 16px;
    background-color: #aca5e3;
}

.btn-close {
    background-color: #ed4d4d;
}

#table {
    background-color: #ffba00;
}

#table-row {
    background-color: #fee591;
}

#home-page {
    color: #333333;
    background-color: #fef2ca;
}

#copyright {
    position: absolute;
    bottom: 0;
    display: block;
    background-color: #f4f4f4;
    color: #333333;
    width: 100%;
    padding: 4px 0;
    margin-top: 40px;
}

/* Profile page */
.profile-container {
    color: #333333;
    display: flex;
    margin: 40px 150px;
    /* align-items: center; */
}

.edit-profile-btn {
    width: 100%;
}

.profile-col-1 {
    margin-right: 30px;
}

.profile-col-2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.profile-col-3 {
    margin-top: 90px;
    text-align: center;
    align-items: center;
}

#user-ava {
    width: 200px;
}

#user-ava-bellow {
    margin-top: 8px;
    text-align: center;
}

.profile-name {
    font-size: 26px;
    font-weight: 500;
}

.profile-username {
    font-style: italic;
    margin-top: -4px;
    margin-bottom: 12px;
    font-size: 14px;
    color: #949494;
}

.profile-bio {
    color: #545454;
    flex: 1;
}

.profile-item-card {
    position: relative;
    color: #333333;
    margin: auto;
    text-align: center;
    width: 1200px;
    margin-bottom: 20px;
    background-color: #feeeb9;
    border-radius: 10px;
}

.profile-item-name {
    font-size: 28px;
    font-weight: 500;
    line-height: 28px;
}

.profile-item-price {
    font-size: 24px;
    font-weight: 600;
    color: #ed4d4d;
    margin-top: 10px;
}

.profile-item-date {
    margin-top: 10px;
    font-size: 14px;
    color: #949494;

}

.profile-item-desc {
    font-size: 18px;
}

.profile-item-cate {
    margin-top: 190px;
    color: #6b6b6b;
    font-size: 16px;
}

.profile-btn-wrapper {
    display: block;
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.profile-edit-btn, .profile-close-btn{
    width: 100px;
    height: 42px;
    margin-bottom: 10px;
}

.profile-edit-btn {
    margin-left: 6px;
}

/* IBanking page */
.search-wrapper {
    display: flex;
    margin: auto;
    width: 1200px;
    justify-content: space-between;
}

.product-wrapper {
    width: 1200px;
    display: flex;
    margin: auto;
    margin-top: 12px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product-col {
    width: 23.6%;
}

.product-card {
    height: 400px;
    text-align: center;
    align-items: center;
    background-color: #feeeb9;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

.product-name {
    color: #333333;
    font-size: 20px;
    font-weight: 500;
    margin: 8px 0;
}

.product-divider {
    margin-top: 8px;
    height: 1px;
    background-color: #ccc;
    width: 60%;
    display: flex;
    margin: auto;
}

.product-price {
    color: red;
    font-weight: 600;
    font-size: 26px;
    margin-top: 18px;
    flex: 1;
}

.product-date {
    color: #949494;
    margin-bottom: 6px;
}

.product-footer {
    margin-bottom: 16px;
}

/* Product detail screen */
.detail-container {
    width: 1200px;
    margin: auto;
    margin-top: 50px;
}

.detail-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.detail-header-col-1 {
    color: #333333;
    width: 65%;
}

.detail-prod-name {
    font-size: 30px;
}

.detail-prod-price {
    color: red;
    font-size: 24px;
    font-weight: 600;
}

.detail-header-divider {
    width: 1px;
    height: 100%;
    background-color: #ccc;
}

.detail-header-col-2 {
    text-align: right;
    width: 33%;
    color: #333333;
}

.detail-header-email {
    font-size: 26px;
    font-weight: 500;
}

.detail-header-username {
    color: #ffba00;
}

.detail-body {
    margin-top: 80px;
    color: #333333;
    text-align: center;
}

.detail-body-title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.detail-card-wrapper {
    display: flex;
    justify-content: start;
}

.detail-card {
    width: 24%;
    background-color: #feeeb9;
    border-radius: 8px;
    margin: 0 8px;
    padding: 14px 0;
}

.detail-card-price {
    color: #ed4d4d;
    font-weight: 600;
    font-size: 18px;
}

/* Bill screen */
.bill-card {
    color: #333333;
    width: 1200px;
    display: flex;
    margin: auto;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #949494;
    margin-bottom: 20px;
    padding: 10px;
}

.bill-title {
    font-size: 24px;
    font-weight: 600;
}

.bill-sell {
    color: #ed4d4d;
}

.bill-buy {
    color: #7ab97a;
}

.bill-body {
    margin-top: 10px;
    text-align: left;
    display: flex;
    margin-bottom: 10px;
}

.bill-info {
    width: 70%;
    margin-left: 50px;
}

.bill-content {
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 4px;
}

.bill-person {
    font-size: 17px;

}

.bill-date {
    color: #949494;
}