<p>Xin chào {{ user.user_name }},</p>
<p>Để xác nhận cho giao dịch mua <b> {{ product.name }} </b> với giá  <b>{{ prettier_budget(product.price)}} đồng</b>.</p>
<a href="{{ url_for('main.confirm_purchase', product_id=product.id, token=token, _external=True) }}">BẤM VÀO ĐÂY ĐỂ XÁC THỰC</a>
<br>
<br>
<p>Yêu cầu này sẽ hết hiệu lực sau 3 phút!</p>
<p>Hoặc, bạn có thể đi tới đường link sau bằng cửa sổ browser của bạn:</p>
<p>{{ url_for('main.confirm_purchase', product_id=product.id, token=token, _external=True) }}</p>
<p>Xin trân trọng cảm ơn,</p>
<p>Team 8</p>
<p><small>Note: replies to this email address are not monitored.</small></p>
