<style>
    table, th, td, tr {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 5px;
      text-align: left;
    }
</style>

Xin chào <b> {{ owner.user_name }} </b> <br>
Sản phẩm <b>{{ product.name }}</b> của bạn đã được bán thành công
<br>
<table style="width:100%">
    <tr >
        <td colspan="2" style="text-align: center;">
            Thông tin người mua
        </td>
        <td colspan="2" style="text-align: center;">
            Thông tin người bán
        </td>
    </tr>
    <tr>
      <th>Họ và tên:</th>
      <td> <b>{{ user.user_fullname }}</b></td>
      <th>Họ và tên:</th>
      <td> <b>{{ owner.user_fullname }}</b></td>
    </tr>
    <tr>
      <th>Số điện thoại:</th>
      <td><b>{{ user.user_phone }}</b></td>
      <th>Số điện thoại:</th>
      <td><b>{{ owner.user_phone }}</b></td>
    </tr>
    <tr>
      <th>Email:</th>
      <td><b>{{ user.user_email }}</b></td>
      <th>Email:</th>
      <td><b>{{ owner.user_email }}</b></td>
    </tr>
</table>
<br>
<h4>Thông tin đơn hàng:</h4>
Mã đơn hàng: <b> #{{ bill.id }} </b>         <br> 
Ngày tạo: {{ bill.date }}
<table style="width: 100%;">
  <th>
    <tr>
        <!-- Your Columns HERE -->
        <th >Sản phẩm</th>
        <th >Mã sản phẩm</th>
        <th  style="text-align: right;">Tổng tiền</th>
    </tr>
  </th>
  <tb>
    <tr id="table-row">
      <td>{{ product.name }}</td>
      <td>#{{ product.id }}</td>
      <td style="text-align: right;">{{ prettier_budget(product.price) }} đồng</td>
    </tr>
    <tr id="table-row">
      <td colspan="2"> <b> Số dư </b></td>
      <td style="text-align: right;">{{ prettier_budget(owner.user_budget) }} đồng</td>
    </tr>
  </tb>
</table>

<br>
<p>Xin trân trọng cảm ơn,</p>
<p>Team 8</p>
<p><small>Note: replies to this email address are not monitored.</small></p>
