<style>
    .modal-content {
      background-color: #212121
    }
</style>
  <!-- More Info -->
  <div class="modal fade" id="Modal-Add"
       tabindex="-1"
       aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel">
            <!-- -->
            Thêm sản phẩm
          </h5>
          <button type="button" class="close"
                  data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" style="color: white;">x</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{{ url_for('main.add') }}" method="POST" enctype='multipart/form-data'>
            <!-- này là bắt buộc nếu muốn trong views.py hoaajt động -->
            {{ addForm.name.label() }}      
            {{ addForm.name(class="form-control", placeholder='Nhập tên sản phẩm') }}
            <br>
            {{ addForm.price.label() }}      
            {{ addForm.price(class="form-control", placeholder='Nhập giá') }}
            <br>
            {{ addForm.description.label() }}      
            {{ addForm.description(class="form-control", placeholder='Nhập mô tả') }}
            <br>
            {{ addForm.file.label() }} :
            {{ addForm.file() }} 
            <br>
            <br>
            {{ addForm.category.label() }}
            {{ addForm.category(class="btn")}}
            <br>
            <br>
            <input type="hidden" id="add_item" name="add_item" value="">
            {{ addForm.submit(class="btn btn-lg btn-block") }}
          </form>
        </div>
      </div>
    </div>
  </div>