<style>
    .modal-content {
      background-color: #ffffff
    }
</style>
  
<!-- Purchase Confirm -->
<div class="modal fade" id="Modal-Purchase-{{ product.id }}"
     tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">
          <!-- -->
            Mua sản phẩm
        </h5>
        <button type="button" class="close"
                data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" style="color: #333;">x</span>
        </button>
      </div>
      <div class="modal-body">
        <form action=" url_for('main.purchase') " method="POST">        
          {{ purchaseForm.hidden_tag() }}
          <h4 class="text-center">
          </h4>
          <br>
          <h6 class="text-center">
            Click <b>Purchase</b> to pay this tuition
          </h6>

          <input type="hidden" id="" name="purchased_item" value="{{ product.id }}">
          {{ purchaseForm.submitPurchase(class="btn btn-block") }}
        </form>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>