<style>
    .modal-content {
      background-color: #212121
    }
</style>
  
<!-- Purchase Confirm -->
<div class="modal fade" id="Modal-Resell-{{ product.id }}"
     tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true" style="color: #fff">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">
          <!-- -->
            Đăng bán sản phẩm
        </h5>
        <button type="button" class="close"
                data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" style="color: white;">x</span>
        </button>
      </div>
      <div class="modal-body">
          <h5 class="text-center">
              Bạn muốn đăng bán lại sản phẩm  <br>
              <b> <h4> {{ product.name }} </h4> </b> 
              lên chợ Hơi Tốt?<br>
          </h5>
          <br>
          <h6 class="text-center">
            <br>
            {% include 'includes/update_items_modals.html'   %}
            <button class="btn profile-edit-btn" data-toggle="modal" data-target="#Modal-Update-{{ product.id }}">Đăng bán</button>
          </h6>
        </div>
    </div>
  </div>
</div>